.home {
    position: relative;
    display: flex;
    
    height: calc(100% - 0px);
   
    overflow-x: hidden;
    overflow-y: auto;
    width: 100%;
    top: 10;
    left: 0;

    .all-About{
        position: absolute;
        top:70px;
        left:240px;

    }

    .rocket-title{
        position: absolute;
        top:70px;
        left:300px;

       .text-titel{
        color: rgb(135, 206, 250);
        font-size: 30px;
       }
    }

   .left-menu{
    
    height: 60vh;
    width: 20vw;
     
        .text-manu-header
        {
           
            align-items: center;
            justify-content: center;
            display: flex;
            .search{
                margin-left: 20px;
                
            }

        }
        
           
    
        .triangle {
            width: 0;
            height: 0;
            border-top: 15px solid transparent;
            border-bottom: 15px solid transparent;
            border-top-right-radius: 50%;
            cursor: pointer;
        }
        .shape{
            
            cursor: pointer;
          }
         

   }

        .folder-list {
          
            position: relative;
            display: block;
            margin:0;
            padding:0;
            list-style-type: none;
            margin-top:20px;
    

        
            .folder-item {
                position: relative;


                .yellow-folder {

                    position: absolute;
                    top: 0;
                    left: 0;
                    z-index: 1;


                    img {
                        display: block;
                    }

                    img:hover {
                        filter: brightness(100%) saturate(100%) hue-rotate(0deg) sepia(100%) invert(10%);

                    }

                }
            }

           

        }


        .mid-page
        {
            width:70vw ;       
            height:10vh ;       
            
            .display-note{
                  
                height: 40vh;
            }
            .all-notes-display{
                display: flex;
                flex-wrap: wrap;
                gap: 4%;
                
                .the-notes{
                    transition: height 1.5s;
                    .black-note{
                        position: absolute;
                       
                        background-color: rgba(0,0,0,0.25);
                        height: 0px;
                        width: 190px;
                        z-index: 1;
                        transition: height 1.5s;   

                        
                    }
                }
                .the-notes:hover{

                    .black-note{
                        display: block;
                        height: 198px;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        
                        
                    }
                }
                .delete-notes{
                    
                  
                }
            }
        }
        @media (max-width: 1250px) {
        
            .all-notes-display{
               
                align-items: center;
                flex-direction: column-reverse;
                    
            }
          
        }
    
       
    }
    